<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main_style.css') }}">
    </head>
    <body style="background:#2D2D2D; text-align:center;">
        <h1>Upload your Battle log below:</h1><br /><br />
        <form action = "http://pokelitics.herokuapp.com/uploader" method = "POST" enctype = "multipart/form-data">
            <input type="file" name="file"/>
            <input id="sub" type="submit"/>
        </form>
        <div id="results"></div>
    </body>

</html>
